<div>
  <h1><%= @restaurant.name %></h1>
  <h2><%= @restaurant.category %></h2>
  <h3><%= @restaurant.address %></h3>
  <h4><%= @restaurant.phone_number %></h4>
</div>

<div class="container">
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.rating %> --> <%= review.content %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back to list of restaurants', restaurants_path %>
